:root {
    --mainbgcolor : #181818;
    --bgcolor1 : #333333;
    --bgcolor2 : #2D2E2E;
    --bgcolor3 : #373737;
    --bgcolor4 : #1f1f1f;
    --bgcolor5 : #181818;
    --bordercolor : #454545;
    --headerfontcolor : #bcbcbc;
    --pointcolor1 : #2a78d700;
    --pointcolor2 : #2a78d7;
    --pcolor1 : #619DD8;
    --pcolor2 : #A4DCFF;
    --pcolor3 : #F7894B;
    --pcolor4 : #FFDC8F;
    --pcolor5 : #FBD610;
    --pcolor6 : #95CEA7;
    
}