@media (max-width:767px){
    .windowBar .windowBar_list{display: none;}
    .explorer{display: none;}
    .Projects .projects_Lists{
        grid-template-columns: repeat(1,1fr);
    }
    .banner .bannerLists{
        grid-template-columns: repeat(1,1fr);
    }
    .popup .popupContent{
        grid-template-columns: repeat(1,1fr);
    }
    .setting .settingUl{
        grid-template-columns: repeat(1,1fr);
    }
    .welcome .welcomeAbout{
        margin-top: 60px;
    }
    .contact .contactImg{
        width: 50vw;
    }
    .contact .contactTxtBox svg {
        width: 70vw;
    }
    .about .aboutTxt {
        font-size: 16px;
    }

}